body {
  padding: 0;
  margin: 0;
  display: grid;
  height: 100svh;
  grid-template-rows: repeat(8, 1fr);
}

h1 {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

h1 span {
  display: block;
}

h1 span,
section {
  position: relative;
}

::after,
::before {
  position: absolute;
  content: "";
  height: 0.75rem;
}

h1 span::after,
h1 span::before,
section:not(:nth-of-type(1))::after,
section::before {
  width: 100%;
  left: 0;
}

h1 span:first-of-type {
  background: linear-gradient(90deg, #000000, transparent); color: #ffb749;
}

h1 span:first-of-type::after,
section:nth-of-type(n + 2)::after {
  background: linear-gradient(90deg, blue, violet, red, orange, yellow, green, skyblue);
}

h1 span:first-of-type::after {
  bottom: -0.75rem;
}

section:nth-of-type(n + 1)::after {
  top: -0.75rem;
}

h1 span:last-of-type::before,
section:nth-of-type(n + 2)::before {
  background: linear-gradient(90deg, yellow, green, skyblue, blue, violet, red, orange);
}

h1 span:last-of-type::before {
  top: -0.75rem;
}

section:nth-of-type(n + 2)::before {
  top: -1.5rem;
}

h1 span:last-of-type {
  background: linear-gradient(90deg, #3b2f4f, transparent); color: #fff;
}

section:is(:first-of-type) {
  text-align: justify;
  padding-right: 12.5%;
  justify-self: end;
  padding-bottom: 1.5rem;
}

section:not(:first-of-type) {
  width: 65%;
  text-align: justify;
  margin-inline: auto;
  padding-bottom: 2rem;
}

section:last-of-type ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding-right: 1.5rem;
}

section:last-of-type ul li::marker {
content: '\2192' ' ';
}

/* section {}

#contacts {}
#about {}
#code {}
#skills {}
#education {}
#education {}
#resources {} */

.right-align {
  text-align: right;
}